@import "../../Styles/sass_global.scss";

.weight-calc {
	display: block;
	margin: auto;
	margin-bottom: 30px;
	width: 80%;
	height: 100%;

	h4,
	p font {
		color: burlywood;
	}

	.desc {
		display: block;
		text-align: center;
	}

	.headers {
		display: grid;
		grid-template-columns: 6fr 6fr 6fr 1fr;
		grid-auto-rows: minmax(48px, max-content);
		justify-items: center;

		.label {
			color: burlywood;
			font-size: 24px;
		}
	}

	.buttons {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(48px, max-content);
		justify-items: center;

		div {
			width: 100%;
			height: 100%;
		}

		.add-weight {
			@include simpleButton($addButtonColor);
		}

		.calc-and-save {
			@include simpleButton($submitButtonColor);
		}
	}
}
